<footer class="footer">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-4 col-lg-3">
        <h3 class="heading-section">About Seeds of Hope</h3>
        <p class="mb-5">
          Seeds of Hope is a effort aimed at equipping lower middle class to
          poor women with the knowledge, skills, and finances if
          necessary, to more efficiently manage, expand or start new businesses,
          as a way of getting their children off the street, to school, thereby
          saving a whole generation of children from the cycle of poverty and crime.
        </p>
        <p><a href="#" class="btn btn-primary px-4 py-3">Become a volunteer</a></p>
      </div>
      <div class="col-md-4 col-lg-3">
        <h3 class="heading-section">Blog</h3>
        <div class="block-21 d-flex mb-4">
          <figure class="mr-3">
            <img src="assets/images/img_1.jpg" alt="" class="img-fluid">
          </figure>
          <div class="text">
            <h3 class="heading"><a href="#">Life in the third world as a poor woman</a></h3>
            <div class="meta">
              <div><a href="#"><span class="icon-calendar"></span> July 29, 2018</a></div>
              <div><a href="#"><span class="icon-person"></span> Admin</a></div>
              <div><a href="#"><span class="icon-chat"></span> 19</a></div>
            </div>
          </div>
        </div>

        <div class="block-21 d-flex mb-4">
          <figure class="mr-3">
            <img src="assets/images/img_2.jpg" alt="" class="img-fluid">
          </figure>
          <div class="text">
            <h3 class="heading"><a href="#">Growing up as a poor child in the third world</a></h3>
            <div class="meta">
              <div><a href="#"><span class="icon-calendar"></span> July 29, 2018</a></div>
              <div><a href="#"><span class="icon-person"></span> Admin</a></div>
              <div><a href="#"><span class="icon-chat"></span> 19</a></div>
            </div>
          </div>
        </div>

        <div class="block-21 d-flex mb-4">
          <figure class="mr-3">
            <img src="assets/images/img_4.jpg" alt="" class="img-fluid">
          </figure>
          <div class="text">
            <h3 class="heading"><a href="#">What do volunteers do?</a></h3>
            <div class="meta">
              <div><a href="#"><span class="icon-calendar"></span> July 29, 2018</a></div>
              <div><a href="#"><span class="icon-person"></span> Admin</a></div>
              <div><a href="#"><span class="icon-chat"></span> 19</a></div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-lg-3">
        <div class="block-21">
          <h3 class="heading-section">Useful Links</h3>
          <p>
              <a routerLink="courses/course-listing">Courses</a>
          </p>
            <p>
              <a href="#!">Jobs</a>
            </p>
            <p>
              <a href="#!">Awards</a>
            </p>
            <p>
              <a routerLink="/faqs">FAQs</a>
            </p>
            <p>
              <a routerLink="/privacy-policy">Privacy Policy</a>
            </p>
            <p>
              <a routerLink="/terms-and-conditions">Terms of Use</a>
            </p>
        </div>
      </div>

      <div class="col-md-4 col-lg-3">
        <div class="block-23">
          <h3 class="heading-section">Contact Info</h3>
          <ul>
            <li>
              <fa-icon [icon]="locationIcon"></fa-icon><span class="text">203 Fake St. Mountain View, San Francisco,
                California, USA</span>
            </li>
            <li><a href="#">
                <fa-icon [icon]="envolopeIcon"></fa-icon><span class="text">info@seedsofhope.org</span>
              </a></li>
            <li><a href="#">
                <fa-icon [icon]="phoneIcon"></fa-icon><span class="text">+2 392 3929 210</span>
              </a></li>
            <li>
              <fa-icon [icon]="printIcon"></fa-icon><span class="text">+2 392 3929 211</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--Social buttons-->
    <div>
      <div class="col-md-12 text-center">
        <ul class="list-unstyled list-inline">
          <li class="list-inline-item">
            <a class="btn-floating btn-sm btn-fb mx-1">
              <fa-icon [icon]="facebook"></fa-icon>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-sm btn-tw mx-1">
              <fa-icon [icon]="twitter"></fa-icon>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-sm btn-gplus mx-1">
              <fa-icon [icon]="google"></fa-icon>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-sm btn-li mx-1">
              <fa-icon [icon]="linkedIn"></fa-icon>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-sm btn-dribbble mx-1">
              <i class="fa fa-dribbble"> </i>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!--/.Social buttons-->
    <div class="row pt-5">
      <div class="col-md-12 text-center">
        <p>
          Copyright &copy; {{year}} All rights reserved | <a routerLink="/home"> www.seedsofhope.org </a>
        </p>
      </div>
    </div>
  </div>
</footer>