<div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
  <h3>
    {{program.title}}
  </h3>
  <hr />
  <div class="form-group">
    <label class="font-weight-bold">Program Category: </label>
    <div class="border rounded">
      <span class="text-info"> {{program.category}}</span>
    </div>
  </div>
  <div class="form-group">
    <label class="font-weight-bold">Price: </label>
    <div class="border rounded">
      <span class="text-primary"> {{program.price | currency:program.currencyCode:'code'}}</span>
    </div>
  </div>
  
  <div class="form-group">
    <label class="font-weight-bold">Program Summary: </label>
    <div class="border rounded">
      <span class="text-primary"> {{program.summary}}</span>
    </div>
  </div>
</div>
<hr/>

